@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: hsl(0deg, 0%, 5%);
  font-family: MinecraftRegular;
}

@font-face {
  font-family: MinecraftRegular;
  src: url('/assets/fonts/MinecraftRegular.otf');
  font-display: swap;
}

@font-face {
  font-family: MinecraftBold;
  src: url('/assets/fonts/MinecraftBold.otf');
  font-display: swap;
}

@font-face {
  font-family: MinecraftItalic;
  src: url('/assets/fonts/MinecraftItalic.otf');
  font-display: swap;
}

@font-face {
  font-family: MinecraftBoldItalic;
  src: url('/assets/fonts/MinecraftBoldItalic.otf');
  font-display: swap;
}

.font-bold {
  font-family: MinecraftBold;
}

.font-italic {
  font-family: MinecraftItalic;
}

.font-bold-italic {
  font-family: MinecraftBoldItalic;
}

.font-underline {
  text-decoration-line: underline;
}

.font-strikethrough {
  text-decoration-line: line-through;
}

.font-underline-strikethrough {
  text-decoration-line: underline line-through;
}
